<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
     <!-- CSS Style Sheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="css/courses.css">
  <!DOCTYPE HTML>
  <html lang="en" >
  <html>
  <head>
    <title>Cover</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="login_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>  
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'> 
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  </head>
  <body>
    <div id="bg">
    </div>
<div id="main">

    <div id="main-content">
           
       <% myList.forEach(function(item) { %>
        <div id="big-title">
          <h1><%= item.courseId %></h1> 
          </div>
          <div id="desc">
        <ul>
          <% item.classes.forEach(function(cl) { %>
            <li>Class Id- <%= cl %></li>
          <% }); %>
        </ul>
        </div>
        <% }); %>
        <form action="/addClass" method="post">
          <p>Enter a class you would like to add-</p>
          <input type="text" name="newClass" placeholder="  "/></input>
        </form>
</body>