<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
     <!-- CSS Style Sheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="css/cover.css">
  <!DOCTYPE HTML>
  <html lang="en" >
  <html>
  <head>
    <title>Cover</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="login_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>  
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'> 
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
  <link rel="stylesheet" href="css/cover.css">
  </head>
  <body>
    
<div class="parallax">
  <div class="text">  
      <h1 class="header">Courses</h1><br />
      <form  action="/courses" method="post">
        <button class="btn btn-primary">COURSES</button>
    </form>
  </div>
</div>

<div class="parallax2">
  <div class="text">  
      <h1 class="header">Time Table</h1><br />
      <form  action="/timetable" method="post">
        <button class="btn btn-primary">TIMETABLE</button>
    </form>
  </div>


</div>

<div class="parallax3">
  <div class="text">  
      <h1 class="header">Map</h1><br />
      <form  action="/map" method="post">
        <button class="btn btn-primary">MAP</button>
    </form>
  </div>
    
    
    

  </body>
